<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/global.css') }}">
	<link rel="icon" href= "{{ url_for('static',filename='images/favicon-32x32.png') }}" sizes="32x32">
	<title>Bobst</title>
</head>
<body>

	<div id="header">
		<div id="top">
			<div class="hold">
				<a href="#">About Us</a> 
				<a href="#contact" data-toggle="collapse">Contact</a>
				<a href="#">v 1.0</a>
			</div>
			<div id="contact" class="collapse">
					<code>hr@innoctive.com / +91 - 8329083054 </code>
			</div>
		</div>
	<!--end of top 3 links-->
		<div class="hold">

			<div class="clear">
			</div>
		</div>
	</div>
<!--end of top header-->

	<div class="container">
		<form class="form-horizontal" action="/mobilehome" method="POST">
			<div class="row">
				<div class="col-md-12 text-center">

				        <h1><span class="label label-default">Work Order</span></h1>

				</div>
			</div>	
			<div class="row">
				<div class="col-md-12 text-center">
				      <div class="img-rounded">
				        <a target="_blank">
				          <img src="/static/images/workorder.png" alt="Portal" style="height:100%;width:60%">
				        </a>
				      </div>
				    </div>
			</div>
						<div class="row">
				<div class="col-md-12 text-center">
			<p style="color:red">Note this page will be html which will contain all the PDF information parsed/read into html, this way the admin can edit info for the work order if required</p>
			</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">


				        <a class="center">
				        	<button type="submit" id="mobilehome" class="btn btn-default">Submit</button>
				        </a>

				</div>
			</div>	
		</form>	
	</div>

</body>
</html>
